<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphen erstellen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1> Graphen erstellen</h1>

        <form action="/matrix" method="POST">
            <label for="gewicht">Gewichtet vs. Ungewichtet</label>
            <select name="gewicht" id="gewicht">
                <option value="ungewichtet">Ungewichtet</option>
                <option value="gewichtet">Gewichtet</option>
            </select>

            <label for="richtung">Gerichtet vs. Ungerichtet</label>
            <select name="richtung" id="richtung">
                <option value="ungerichtet">Ungerichtet</option>
                <option value="gerichtet">Gerichtet</option>
            </select>

            <label for="knoten">Anzahl der Knoten: </label>
            <select name="knoten" id="knoten">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>

            <button type="submit">Submit</button>

        </form>

        <button id='zufall' type="submit">zufällige Auswahl</button>

        <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>