<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphen erstellen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <div id="graph-info"
            data-gewicht="{{ gewicht }}"
            data-richtung="{{ richtung }}"
            data-knoten="{{ knoten }}">
        </div>
    </div>

    <button id="button1">Graph kreieren</button>
    <button id="button2">Zufällig ausfüllen</button>
    <button id="button3">Ringgraph</button>
    <button id="button4">Sterngraph</button>
    <button id="button5">Baumgraph</button>

    <script src="{{ url_for('static', filename='matrix.js') }}"></script>
</body>
</html>